<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>
    <bean id="musicBean"
          class="ru.leontev.springcource.ClassicalMusic">
    </bean>
    <bean id="rockMusic"
          class="ru.leontev.springcource.RockMusic">

    </bean>
    <bean id="classicalMusic"
          class="ru.leontev.springcource.ClassicalMusic">

    </bean>
    <bean id="sadMusic"
          class="ru.leontev.springcource.SadMusic">

    </bean>
    <bean id="musicPlayer"
          class="ru.leontev.springcource.MusicPlayer">
        <property name="music" ref="musicBean"/>
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
        <property name="musics">
            <list>
                <ref bean="classicalMusic"/>
                <ref bean="rockMusic"/>
                <ref bean="sadMusic"/>
            </list>
        </property>
    </bean>
</beans>